<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li>
              <a href="https://github.com/tijsverkoyen" class="btn-social btn-outline">
                <i class="fa fa-fw fa-github"></i>
                <span class="sr-only">GitHub</span>
              </a>
            </li>
            <li>
              <a href="https://be.linkedin.com/in/tijsverkoyen" class="btn-social btn-outline">
                <i class="fa fa-fw fa-linkedin"></i>
                <span class="sr-only">LinkedIn</span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/tijsverkoyen" class="btn-social btn-outline">
                <i class="fa fa-fw fa-twitter"></i>
                <span class="sr-only">Twitter</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>I'm proud of</h3>
          <p>
            <small>
              <a href="https://github.com/tijsverkoyen/CssToInlineStyles">tijsverkoyen/CssToInlineStyles</a>,
              <a href="https://github.com/tijsverkoyen/bpost">tijsverkoyen/bpost</a>,
              <a href="https://github.com/tijsverkoyen/TwitterOAuth">tijsverkoyen/TwitterOAuth</a>,
              <a href="https://github.com/sumocoders/Framework">sumocoders/Framework</a>,
              <a href="https://github.com/forkcms/forkcms">forkcms/forkcms</a>.
            </small>
          </p>
        </div>
        <div class="footer-col col-md-4">
          <h3>About me</h3>
          <p>
            I'm Tijs, a Belgian PHP Developer. I run a company called <a href="http://sumocoders.be">SumoCoders</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          © Tijs Verkoyen
          <br />
          <small>
            <a class="btn btn-no-fill" href="https://github.com/tijsverkoyen/tijsverkoyen.github.io/edit/master/{{ page.path }}">
              Found a typo? Edit it on GitHub
            </a>
          </small>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/js/site.js"></script>
