.btn-social {
  color: $white;
  border: 2px solid $white;
  border-radius: 100%;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  width: 50px;

  &:active, &:hover, &:focus {
    background: $white;
    color: $accent-color;
    text-decoration: none;
    border: 2px solid $white;
  }
}

.btn-outline {
  border: 2px solid 2px $white;
  transition: all .3s ease-in-out;

  &:active, &:hover, &:focus {
    color: $accent-color;
  }
}

.pager {
  li > a {
    border: 1px solid $accent-color;
    font-size: $default-font-size;
    transition: all .3s ease-in-out;

    &:active, &:hover, &:focus {
      background-color: $accent-color;
      color: $white;
    }
  }

  li > span {
    border: 1px solid lighten($accent-color, 50%);
  }

  .disabled > span {
    color: lighten(#333, 50%);
  }
}
