header {
  a {
    color: $background-dark;
    border-bottom: 1px solid $background-dark;
    text-decoration: none;
    transition: all 0.3s;

    &:active, &:hover, &:focus {
      color: $white;
      border-bottom-color: $white;
      text-decoration: none;
    }
  }
}

footer {
  a, .btn {
    color: $accent-color;
    transition: all .3s ease-in-out;

    &:active, &:hover, &:focus {
      color: $text-color-inverse;
    }
  }
}
