// General
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

p {
  font-size: $default-font-size * 1.4;
}

p.small {
  font-size: 1.3em;
}

a {
  color: $accent-color;
  outline-color: $accent-color;
  transition: all 0.3s;

  &:active, &:hover, &:focus {
    color: $background-dark;
    text-decoration: none;
    border-bottom: 1px solid $background-dark;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

// Navbar
.navbar {
  text-transform: uppercase;
  font-weight: 700;

  .navbar-nav {
    letter-spacing: 1px;

    li {
      a {
        color: $white;
        transition: all 0.3s;

        &:active, &:hover, &:focus {
          background-color: $background-darkest;
          color: $accent-color;
        }
      }
    }
  }
}

.navbar-default,
.navbar-inverse {
  border: none;
  background-color: $background-dark;

  .navbar-brand {
    color: $white;
  }

  .navbar-toggle {
    border-color: $white;

    .icon-bar {
      background-color: $white;
    }
  }

  .navbar-nav > .active > a {
    color: $accent-color;
    background-color: $background-darkest;
  }
}

@media(min-width: 768px) {
  .navbar-fixed-top {
    padding: $default-vertical-padding 0;
    //transition: padding 0.3s;

    .navbar-brand {
      font-size: $default-font-size * 2;
      color: $white;
      transition: all 0.3s;

      &:active, &:hover, &:focus {
        color: $accent-color;
      }
    }
  }
  .navbar-fixed-top.navbar-shrink {
    padding: $default-vertical-padding / 2 0;

    .navbar-brand {
      font-size: $default-font-size * 1.5;
    }
  }
}

// Warning
.browser-warning {
  margin-top: 50px + ($default-vertical-padding * 2);
  margin-bottom: 0;
}

// Header
header {
  text-align: center;
  background: $accent-color;
  color: white;

  .container {
    padding-top: $default-vertical-padding * 4;
    padding-bottom: $default-vertical-padding * 2;
  }

  img {
    display: block;
    margin: 0 auto $default-vertical-padding;
  }
}

@media(min-width: 768px) {
  header {
    .container {
      padding-top: $default-vertical-padding * 8;
      padding-bottom: $default-vertical-padding * 4;
    }
  }
}

// Content
#content {
  .container {
    padding-top: $default-vertical-padding * 2;
    padding-bottom: $default-vertical-padding * 1;
  }
}

@media(min-width: 768px) {
  #content {
    .container {
      padding-top: $default-vertical-padding * 4;
      padding-bottom: $default-vertical-padding * 2;
    }
  }
}


// Footer
footer {
  color: $text-color-inverse;

  h3 {
    margin-bottom: $default-vertical-margin;
  }

  .footer-col {
    margin-bottom: $default-vertical-margin * 1.75;
  }

  .footer-above {
    background-color: $background-dark;
    padding-top: $default-vertical-padding * 1.75;
  }

  .footer-below {
    background-color: $background-darkest;
    padding: $default-vertical-padding 0;
  }
}
