<!DOCTYPE html>
<html lang="{% if page.language %}{{ page.language }}{% else %}en{% endif %}">

{% include head.html %}

<body id="page-top" class="post" vocab="https://schema.org/" typeof="WebPage" mainEntityOfPage>
{% include scripts_after_body.html %}

{% include menu.html %}
{% include warning.html %}

<section id="content">
  <div class="container" id="blog-post">
    <div class="row">
      <article class="col-md-10 col-md-offset-1" itemid="{{ page.id }}" itemscope itemtype="https://schema.org/Article" itemprop="mainEntityOfPage">
        <link itemprop="mainEntityOfPage" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
        <div class="row ">
          <div class="col-md-12 text-center">
            <h1 itemprop="headline">
              <span itemprop="name">{{ page.title }}</span>
            </h1>
            <hr class="star-primary">
            <p class="meta-info">
                <span class="hidden">
                  {% if page.language == 'nl' %}
                  door
                  {% else %}
                  by
                  {% endif %}
                  <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <span itemprop="name">Tijs Verkoyen</span>
                  </span>
                </span>
              <small>
                {% if page.language == 'nl' %}
                gepubliceerd op
                {% else %}
                posted on
                {% endif %}
                <span itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{{ page.date | date : '%d/%m/%Y' }}</span>.
              </small>
            </p>
            <div class="hidden">
              <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="{{ site.url }}/assets/posts/{{ page.image }}" />
                <meta itemprop="url" content="{{ site.url }}/assets/posts/{{ page.image }}">
                <meta itemprop="width" content="512">
                <meta itemprop="height" content="512">
              </div>
              <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                  <img src="{{ site.url }}/assets/site/me.jpg"/>
                  <meta itemprop="url" content="{{ site.url }}/assets/site/me.jpg">
                  <meta itemprop="width" content="512">
                  <meta itemprop="height" content="512">
                </div>
                <meta itemprop="name" content="Tijs Verkoyen">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div itemprop="description" itemprop="articleBody" class="col-md-12">
            {{ content }}
          </div>
        </div>
        <meta itemprop="image" src="{{ site.url }}/assets/posts/{{ page.image }}">
        <meta itemprop="dateModified" content="{{ page.date | date_to_xmlschema }}">
      </article>
    </div>
    <div class="row">
      <nav class="col-md-12">
        <ul class="pager">
          {% if page.next %}
          <li class="previous">
            <a href="{{ page.next.url }}" title="Next post: {{ page.next.title }}" rel="next" id="gaNextArticle">
              <span aria-hidden="true">&larr;</span> Next <span class="hidden">post: {{ page.next.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if page.previous %}
          <li class="next">
            <a href="{{ page.previous.url }}" title="Previous post: {{ page.previous.title }}" rel="previous" id="gaPreviousArticle">
              Previous
              <span class="hidden">post: {{ page.previous.title }}</span><span aria-hidden="true">&rarr;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    {% if page.comments %}
    <div class="row">
      <div class="col-md-12">
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function() {
            this.page.url = "https://verkoyen.eu{{ page.url }}";
            this.page.identifier = "{{ page.id }}";
            this.page.title = "{{ page.title }} - Tijs Verkoyen";
          };
          (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//verkoyen.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the
          <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </div>
    </div>
    {% endif %}
  </div>
</section>

{% include footer.html %}
</body>
</html>
