<!DOCTYPE html>
<html lang="{% if page.language %}{{ page.language }}{% else %}en{% endif %}">

{% include head.html %}

<body>
{% include scripts_after_body.html %}

{% include header.html %}

<div class="page-content">
  <div class="wrapper">
  </div>
</div>

<div class="container">
  <div class="header clearfix">
    <nav>
      {% include menu.html %}
    </nav>
    <h3 class="text-muted">{{ site.title }}</h3>
  </div>

  <div class="page-header">
    <h1>
      {{ page.title }}
      <small>
        posted on {{ page.date | date : '%d/%m/%Y' }}
      </small>
    </h1>
  </div>

  {{ content }}

  <nav>
    <ul class="pager">
      {% if page.next %}
        <li class="previous">
          <a href="{{ page.next.url }}" title="Next post: {{ page.next.title }}">
            <span aria-hidden="true">&larr;</span> Next <span class="hidden">post: {{ page.next.title }}</span>
          </a>
        </li>
      {% endif %}
      {% if page.previous %}
        <li class="next">
          <a href="{{ page.previous.url }}" title="Previous post: {{ page.previous.title }}">
            Previous <span class="hidden">post: {{ page.previous.title }}</span><span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>

  {% include footer.html %}
</div>
</body>
</html>

