<!DOCTYPE html>
<html lang="{% if page.language %}{{ page.language }}{% else %}en{% endif %}">

{% include head.html %}

<body>
{% include scripts_after_body.html %}

{% include header.html %}

<div class="page-content">
  <div class="wrapper">
  </div>
</div>

<div class="container">
  <div class="header clearfix">
    <nav>
      {% include menu.html %}
    </nav>
    <h3 class="text-muted">{{ site.title }}</h3>
  </div>

  <div itemid="{{ page.id }}" itemscope itemtype="http://schema.org/Article">
    <div class="page-header">
      <h1>
        <span itemprop="name">{{ page.title }}</span>
        <span itemprop="author" class="hidden">by Tijs Verkoyen</span>
        <small>
          posted on <span itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{{ page.date | date : '%d/%m/%Y' }}</span>
        </small>
      </h1>
    </div>

    <div itemprop="description" itemprop="articleBody">
      {{ content }}
    </div>
  </div>

  <nav>
    <ul class="pager">
      {% if page.next %}
      <li class="previous">
        <a href="{{ page.next.url }}" title="Next post: {{ page.next.title }}">
          <span aria-hidden="true">&larr;</span> Next <span class="hidden">post: {{ page.next.title }}</span>
        </a>
      </li>
      {% endif %}
      {% if page.previous %}
      <li class="next">
        <a href="{{ page.previous.url }}" title="Previous post: {{ page.previous.title }}">
          Previous <span class="hidden">post: {{ page.previous.title }}</span><span aria-hidden="true">&rarr;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

  {% include footer.html %}
</div>
</body>
</html>

